body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(63, 62, 62);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 300px;
    height: 200px;
}

#navbar{
    border-color: rgb(231, 127, 7);
    border-style: solid;
    text-align: center;
    margin: 5px;
    padding:10px;
    background-color: rgb(180, 179, 179);
}

h1,h3,p {
    color: #000000;
}

#noble {
    
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(94, 94, 94);
    text-align: center;
    border-color: #a6ff00;
    border-style: solid;
    margin: 7px;
    justify-content: space-between;
}

.noble {
    border-color: rgb(238, 255, 0);
    border-style: solid;
    padding: 10px;
    background-color: rgb(97, 97, 97);
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;

}

#rodape{
    text-align: left;
    margin: 5px;
    padding: 2px;
    color: rgb(214, 252, 0);
    background-color: rgb(82, 82, 82);
    
}